<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar opção para {{ questao.id }}</title>
</head>
<body>

    <h1>{{ questao.questao_texto }}</h1>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'votacao:gravar_opcao' questao.id %}" method="post">
        {% csrf_token %}
        <label for="nova_opcao">Texto da nova opção:</label>
        <input type="text" id="nova_opcao" name="nova_opcao"><br><br>
        <input type="submit" value="Gravar nova Opção">
    </form>

</body>
</html>